.hero {
  text-align: center;
  padding: 40px 0 72px 0;
}
.justify { text-align: justify; }

section {
  padding: 1.65em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

section:last-child {
  border: none;
}
#wrapper {
  height: 100%;
  margin: 0;
}

#header {
  padding: 40px 48px 39px 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 0 !important;
}
#header::after {
  content: "";
  display: block;
  clear: both;
}
#header a {
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid transparent;
}
#header a:hover {
  /*text-decoration: underline;*/
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  color: #2f77d1;
}

#header ul li {
  display: inline-block;
  margin-right: .5em;
}

#header .nav-left {
  text-align: left;
  width: 35%;
}
#header .brand {
  text-align: center;
  width: 30%;
}
#header .brand a {
  font-size: 1.2em;
  font-weight: 900;
  text-decoration: none;
  color: #000000;
}
#header .brand a:hover {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #2f77d1;
}
#header .nav-right {
  text-align: right;
  width: 35%;
}

/********************/
/*#intro {
  text-align: center;
  padding: 1.65em;

  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#intro p:last-child {
  margin-top: .5em;
  margin-bottom: 0;
}*/
#intro {
    background: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}
#intro h2 {
    line-height: 24px;
    font-weight: 500;
}
#intro h2 a {
    color: #000;
    text-decoration: none;
}
#intro h2 a:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}
#intro h6 {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 24px;
    background: #111;
    color: #fff;
    padding: 2px 8px 0 8px;
    line-height: 20px;
}
#intro p {
    margin-bottom: 1.65em;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.55);
}
#intro p:last-child {
  margin-top: .5em;
  margin-bottom: 0;
}
#intro .summary {
  width: 450px;
  margin: 0 auto 1.65em;
  display: block;
}

#features {
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
#features section {
  text-align: justify;
}
#features section h3 {
  text-align: center;
}
#features .screen img {
  max-width: 100% !important;
  height: auto;
  display: block;
}
#features .gallery .item {
  height: 100%;
  background-color: transparent !important;
}
#features .gallery .controls {

}
#features .gallery .controls .control-button::before {
  content: 'â€¢';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #938e8e;
  text-shadow: 0 0 1px #938e8e;
  font-size: 1em;
}
#features .gallery .controls .control-button:hover {
  color: #b9b9b9;
  font-size: 3.5em;
}
#features row,
#features .start,
#features .end {
  margin-bottom: 0;
}

#changelog .table-changelog {
  width: 600px;
  margin: 0 auto;
}

#footer {
  height: 20px !important;
  margin: 35px 0;
	text-align: center;
}
#footer nav,#footer p {
	float: none;
}
#footer nav li {
	display: inline;
	text-align: center;
  margin: 0 10px;
}

/** RESPONSIVENESS **/
@media (max-width:768px) {
  #header {
    padding: 10px;
  }
  #header::before {
    content: 'Ricin';
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  #header column {
    width: 100% !important;
    margin: 0 !important;
    text-align: center !important;
    display: block !important;
  }
  #header ul {
    margin: 0 !important;
  }
  #header ul li {
    width: 100% !important;
    height: 30px;
    line-height: 29px;

    display: flex !important;
    margin: 0 !important;
  }

  #header ul li a {
    width: 100% !important;
    padding: 0 !important;
  }
  #header ul li a:hover {
    background-color: #f5f5f5;
  }

  #header .brand {
    display: none !important;
  }

  #header #nav-left, #header #nav-right {
    float: none;
    width: 100% !important;
    text-align: center;
  }

  #header #nav-left li, #header #nav-right li {
    margin: 16px 0;
    display: block;
  }

  #intro .summary {
    width: 100%;
    margin: 0 auto 1.65em;
    display: block;
  }

  #changelog .table-changelog {
    width: 100%;
    margin: 0 auto;
  }

  #footer row column {
  	margin-bottom: 0 !important;
    height: 25px;
    text-align: center;
  }

  /*#features .screenshots {
    max-width: 90%;
    width: 90%;
    margin: 0 !important;
  }*/
}
