.hero {
  text-align: center;
  padding: 40px 0 72px 0;
}
.justify { text-align: justify; }

section {
  padding: 1.65em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

#header {
  padding: 40px 48px 39px 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 0 !important;
}
#header::after {
  content: "";
  display: block;
  clear: both;
}
#header a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
#header a:hover {
  text-decoration: underline;
  color: #000000;
}

#header ul li {
  display: inline-block;
  margin-right: 1.65em;
}

#header .nav-left {
  text-align: left;
  width: 35%;
}
#header .brand {
  text-align: center;
  width: 30%;
}
#header .brand a {
  font-weight: 900;
  text-decoration: none;
  color: #000000;
}
#header .nav-right {
  text-align: right;
  width: 35%;
}

/********************/
/*#intro {
  text-align: center;
  padding: 1.65em;

  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#intro p:last-child {
  margin-top: .5em;
  margin-bottom: 0;
}*/
#intro {
    background: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}
#intro h2 {
    line-height: 24px;
    font-weight: 500;
}
#intro h2 a {
    color: #000;
    text-decoration: none;
}
#intro h2 a:hover {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}
#intro h6 {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 24px;
    background: #111;
    color: #fff;
    padding: 2px 8px 0 8px;
    line-height: 20px;
}
#intro p {
    margin-bottom: 1.65em;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.55);
}
#intro p:last-child {
  margin-top: .5em;
  margin-bottom: 0;
}

/** RESPONSIVENESS **/
@media (max-width:768px) {
  #header {
    padding: 0px 16px 19px 16px;
  }

  #header column {
    width: 100% !important;
    text-align: center !important;
    display: inline-block !important;
  }
  #header ul li {
    display: inline-block !important;
    margin-right: 1.65em !important;
  }

  #header .brand {
    display: none !important;
  }

  #header #nav-left, #header #nav-right {
    float: none;
    width: 100% !important;
    text-align: center;
  }

  #header #nav-left li, #header #nav-right li {
    margin: 16px 0;
    display: block;
  }
}
